/***************** COLOR SCHEME *************
🌿 Forest Green Deep and elegant: #228B22
🌲 Dark Green Strong contrast: #006400
🌱 Medium Green Natural and balanced: #3CB371
Terra cotta: #E07A5F
Deep Slate Blue: #2C2E47
Hamburger open icon: \2630
Hamburger closing icon: \00D7
*/

/***************** Site Wide *************/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/***************** Header Section *************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 6px;
}

header Img {
    width: 100%;
    height: auto;
    padding-bottom: 1px;
}

header span {
    font-size: 0.7rem;
    color: #2C2E47;
}

/***************** HAMBURGER NAVIGATION *************/
.hamburger {
    background: none;
    border: none;
    color: #2C2E47;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: " \2630";
    font-size: 1.2rem;
}

.hamburger.show::before {
    content: " \00D7";
    font-size: 1.5rem;
}

/***************** NAVIGATION MENU *************/
.nav-links {
    display: none;
    padding: 5px 0 5px 1px;
    border-bottom: solid 1px #eee;
}

.nav-links.show {
    display: block;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #2C2E47;
    padding: 0.8rem 10px;
    border-bottom: solid 1px #ddd;
    width: 20rem;
    margin-bottom: 4px;
    cursor: pointer;
}

.nav-links img {
    margin-left: 10px;
    padding-top: 16px;
}

/***************** way finding *************/
.nav-links li.discover-page {
    background-color: #eee;
    width: 20rem;
}

.nav-links a:hover {
    background-color: #E07A5F;
}

/***************** MAIN PAGE *************/


h1 {
    margin-left: 10px;
    color:#2C2E47;
}

figure {
    display: block;
    margin-left: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    border: solid #999;
    border-radius: 8px;
    height: auto;

    display: grid;
    grid-template-areas: 
    "name"
    "photograph"
    "description"
    "location"
}

figure img {
    width: 100%;
    
    grid-area: photograph;
}

figure img:hover {
    width: 350px;
}

figure 
h2,
address,
p{
    margin: 1rem 10px;
}

h2 {
    grid-area: name;
    font-size: 1.2rem;
    color:#2C2E47;
}

figure p {
    grid-area: description;
    color:#2C2E47;
}

figure address {
    grid-area: location;
    color:#2C2E47;
}

figure button {
    margin: 0.2rem;
    color:#2C2E47;
}

h3 {
	font-size: 1.5rem;
	color: #2C2E47;
}

/* hover effect */
img:hover {
	box-shadow: 0 0 50px #2C2E47;
}

/***********  Days Between Dates *************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.label {
	width: 175px;
	font-weight: bold;
	color:#2C2E47;
	text-align: right;
	margin-right: 10px;
}

.smaller {
	font-size: smaller;
    color:#2C2E47;
}


/***************** FOOTER *************/
footer {
    display: grid;
    row-gap: 30px;
    background-color: #eee;
    text-align: center;
    padding: 1rem 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 4px;
}

.social-media img {
    width: 22px;
    height: 22px;
}

.social-media a:hover {
    background-color: #ddd;
}

footer p {
    color: #2C2E47;
    font-size: 0.7rem;
    margin: 0;
    padding-bottom: 4px;
}

footer h3 {
    color: #2C2E47;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 4px;
    margin: 0;
}

footer div {
    text-align: left;
}
