@media only screen and (min-width: 38rem) {
    form {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }

     form fieldset {
      margin: 0 10px 50px 0;
    }
}