* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

h3{
  font-size: .9rem;
  color: #2C2E47;
  margin: 0.2rem 10px .2rem 0;
}

h2 {
  font-size: 1rem;
  color: #2C2E47;
}

form {
	display: block;
	margin-left: 10px;

	label {
      display: block;
      font-size: .8rem;
      color: #2C2E47;
      padding-top: .2rem;
	}

	input[type=text],
    input[type=tel],
    input[type=date],
    input[type=telephone],
    input[type=email],
    textarea[type=text],
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      font-size: 1rem;
      color: #2C2E47;
      width: 100%;
    }

	  input:required {border-left-color: #E07A5F;}
    input:focus {border-left-color: #2C2E47; outline:none;}
    input:required:valid{border-left-color: green;}

    textarea:required {border-left-color: #E07A5F;}
    textarea:focus {border-left-color:#2C2E47; outline:none;}
    textarea:required:valid{border-left-color: green;}

	.busDes {
		padding-top: 1rem;
	}
  
    input[type=submit] {
      border: none;
	    width: 100%;
      text-align: center;
      background-color: #3D405B;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    fieldset {
      margin: 20px 10px 20px 0;
      background-color: #eee;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
}
