@media only screen and (min-width: 38rem) {
    
    header, nav, main, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    /***************** HEADER *************/
    header {
        grid-template-columns: 24px auto auto;
    }

    header Img {
    width: 100%;
    height: auto;
    padding-bottom: 18px;
   }

   header span {
    font-size: 0.7rem;
    color: #3D405B;
    padding-bottom: 18px;
  }

    /***************** HAMBURGER *************/
    .hamburger {
        display: none;
    }

    /***************** NAVIGATION MENU *************/
    .nav-links {
    display: block;
    border-bottom: none;
    }

    .nav-links ul {
        display: flex;
    }

    .nav-links a {
        border: none;
        padding: 14px;
    }

    .nav-links a:hover {
        background-color: #fff;
        text-decoration: underline;
    }

    /*******************WAY FINDING******************/
    .nav-links li.home-page {
    background-color: #fff;
    text-decoration: underline;
   }

   .nav-links Img {
    width: 100%;
    height: auto;
    padding: 14px;
}



    /***************** HOME PAGE *************/
  .section1 {
    display: flex;
    column-gap: 10px;
    color:#3D405B;
    justify-content: center;
  }

   .section1 img {
    width: 100%;
    height: auto;
    margin-left: 10px;

   }

   p {
    margin-left: 10px;
   }

   .course-container button {
    margin-left: 27px;
   }

   .course-btn {
    width: 16rem;
   }

   .second-screen img {
    width: 250px;
    padding-left: 8px;
   }

   .main-course {
    column-gap: 7rem;
    margin-left: 14rem;
  }

  .counter {
    font-size: 14px;
  }

  /***************** FOOTER *************/
  footer {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 6px;
  }
}
