@media screen and (min-width: 500px) {

    * {
        margin: 0;
        padding: 0;
        font-family: 'roboto', sans-serif;
        box-sizing: border-box;
    }

    body {
        font-family: 'roboto', sans-serif;
    }

    header, main, footer {
        max-width: 1500px;
        margin: 1rem;
        border: 1px solid #bbb;
        padding: 1rem;
    }
    
    header {
        background-color: rgb(100, 100, 243);
        color: white;
    }

    #menu-button {
        display: none; /* hide hamburger button */
    }

    .nav-bar-container {
        display: flex !important; /* force always visible */
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 20rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    main {
        grid-template-columns: 3fr 1fr;
        display: grid;
        grid-gap: 1rem;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .main-album-container {
        background-color: white;
        margin-left: 3rem;
    }

    figcaption {
        text-align: center;
        font-weight: bold;
        width: 15rem;
        margin: 1 auto;
   }
    
    .album-container{
        display: flex;
    }
    
    figure {
        text-align: center;
        display: grid;
        padding: 1rem;
        background-color: #fff;
    }
    
    img {
        width: 20rem;
        height: 20rem;
        border: 1px solid #bbb;
        border-radius: 5px;
        display: block;
        
    }

    footer {
        background-color: rgb(100, 100, 243);
        margin-top: 1rem;
        text-align: center;
        grid-column: 5 / 1;
        height: 10vh;
        color: white;
    }
    
    span {
        font-size: 10px;
    }
    
}