#cart-container {
  padding: 20px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-item img {
  width: 100px;
  height: auto;
}
.cart-item-details {
  flex-grow: 1;
}
