@media only screen and (min-width: 64rem) {
    header, main, footer {
    max-width: 900px;
    margin: 0 auto;
    }
    /********* HEADER SECTION ********/
    header {
        grid-template-columns: 24px auto auto auto;
        width: auto;
    }

    /********* HAMBURGER ********/
    .hamburger {
        display: none;
    }

    /********* NAVIGATION MENU ********/
    .nav-links {
        display: block;
        border-bottom: none;
    }

    .nav-links ul {
        display: flex;
    }

    .nav-links a {
        border: none;
        width: auto;
    }

    header aside {
        padding-left:30rem;
    }

    /*************** Home page **************/
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section > aside {
        display: block;
        background-color: #f5f7fa;
        margin: 10px 10px;
    }
    
    aside .product-img {
        width: 100%;
        height: 14rem;
        margin: 0;
    }
    
    aside button {
        width: 100%;

    }

    /***filter bar section***/
    .filter-bar {
        margin-left: 35.3rem;
    }
}